# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# testing
coverage/

# next.js
.next/
out/
build/

# production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment — local secrets, NEVER commit
.env*.local
.env.production.local
.env.development.local

# debug
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
